<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>board_trophy.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {212, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{212, 97}</string>
			<key>spriteSourceSize</key>
			<string>{212, 97}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 395}, {212, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>board_trophy_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {209, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{209, 54}</string>
			<key>spriteSourceSize</key>
			<string>{209, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{666, 263}, {209, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>board_trophy_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {209, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{209, 54}</string>
			<key>spriteSourceSize</key>
			<string>{209, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{455, 263}, {209, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>board_trophy_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {209, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{209, 54}</string>
			<key>spriteSourceSize</key>
			<string>{209, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{455, 319}, {209, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>board_trophy_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {209, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{209, 54}</string>
			<key>spriteSourceSize</key>
			<string>{209, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{666, 319}, {209, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {453, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{453, 77}</string>
			<key>spriteSourceSize</key>
			<string>{453, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {453, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_bronze_new.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {373, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{373, 64}</string>
			<key>spriteSourceSize</key>
			<string>{373, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{455, 0}, {373, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_gold_new.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {373, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{373, 64}</string>
			<key>spriteSourceSize</key>
			<string>{373, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{455, 66}, {373, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_lock.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {453, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{453, 77}</string>
			<key>spriteSourceSize</key>
			<string>{453, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 158}, {453, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_plastic_new.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {373, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{373, 63}</string>
			<key>spriteSourceSize</key>
			<string>{373, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{455, 198}, {373, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_silver_new.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {373, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{373, 64}</string>
			<key>spriteSourceSize</key>
			<string>{373, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{455, 132}, {373, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_word.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {453, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{453, 77}</string>
			<key>spriteSourceSize</key>
			<string>{453, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 79}, {453, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_btn_instr.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {453, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{453, 77}</string>
			<key>spriteSourceSize</key>
			<string>{453, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 395}, {453, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_btn_play.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {453, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{453, 77}</string>
			<key>spriteSourceSize</key>
			<string>{453, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 237}, {453, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_btn_upgr.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {453, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{453, 77}</string>
			<key>spriteSourceSize</key>
			<string>{453, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 316}, {453, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 22}</string>
			<key>spriteSourceSize</key>
			<string>{23, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{830, 112}, {23, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 68}, {77, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -30}</string>
			<key>spriteSize</key>
			<string>{77, 26}</string>
			<key>spriteSourceSize</key>
			<string>{93, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{830, 84}, {77, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 68}, {77, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -30}</string>
			<key>spriteSize</key>
			<string>{77, 26}</string>
			<key>spriteSourceSize</key>
			<string>{93, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{830, 56}, {77, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>star3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 68}, {77, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -30}</string>
			<key>spriteSize</key>
			<string>{77, 26}</string>
			<key>spriteSourceSize</key>
			<string>{93, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{830, 28}, {77, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stars.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 68}, {77, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -30}</string>
			<key>spriteSize</key>
			<string>{77, 26}</string>
			<key>spriteSourceSize</key>
			<string>{93, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{830, 0}, {77, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled 4</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>menu_buttons-hd.</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>menu_buttons-hd.</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>